body {
	margin: 0;
	padding: 0;
}

/* Home Page */
nav {
	box-shadow: rgba(0, 0, 0, 0.16) 0 6px 25px;
}

.navbar {
	padding: 15px 40px;
}

.banner {
	padding: 140px 50px 180px 70px;
}
.banner-row {
	justify-content: space-around;
}

.icon {
	width: 30px;
	height: auto;
	margin-right: 10px;
}

footer {
	padding: 10px 30px;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}