@font-face {
	font-family: latoBold;
	src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
	font-family: latoBlack;
	src: url(../assets/fonts/Lato-Black.ttf);
}
@font-face {
	font-family: latoBoldItalic;
	src: url(../assets/fonts/Lato-BoldItalic.ttf);
}
@font-face {
	font-family: latoRegular;
	src: url(../assets/fonts/Lato-Regular.ttf);
}

body {
	font-family: 'latoRegular', sans-serif;
	font-size: 16px;
}
h1 {
	font-family: 'latoBoldItalic', sans-serif;
	font-size: 2.85rem;
}
h4 {
	font-size: 1.3rem;
}

#navandbanner {
	background-color: rgba(235, 235, 224, .4);
	border-bottom: 2px solid rgba(235, 235, 224, .8);
}
.navbar-brand span {
	color: rgb(21, 21, 70);
	font-family: 'latoBold', sans-serif;
}
.nav-item a {
	font-size: 1.05rem;
	color: #212529;
}

/* colors */
.blue {
	color: rgb(21, 21, 70);
}